streamlit==1.40.2
streamlit-option-menu==0.4.0
pandas==2.2.3
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-decouple==3.8
plotly==6.2.0
streamlit-authenticator==0.4.3
dj-database-url==2.3.0
email-validator==2.2.0
pillow==11.0.0
requests==2.32.3
python-multipart==0.0.20 